
.header {
  position: fixed;
  min-width: 100% ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  color: var(--white);
  min-height: 20px;

}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 10px;
  padding: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;

}
   
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.footer {
  background: var(--primary);
  color: var(--white);
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}
